{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบจัดการผลผลิต - แตงโมฟาร์ม</title>

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg" type="image/x-icon' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    

</head>
<style>
    *{
        font-family: 'Noto Sans Thai', sans-serif;
    }
</style>

<body>
    <div id="app wrapper">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/homepage" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>หน้าแรก</span>
                            </a>
                        </li>
                        {% comment %} <li class="sidebar-item">
                            <a href="/dashborad" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>รายงาน</span>
                            </a>
                        </li> {% endcomment %}
                        <li class="sidebar-item">
                            <a href="/farmmer" class="sidebar-link">
                                <i class="bi bi-grid-fill"></i>
                                <span>เมนูจัดการคนสวน</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/customer" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>เมนูจัดการลูกค้า</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/stock_item" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>รายการสิ่งของ(ปุ๋ย/ยา)</span>
                            </a>
                        </li>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-pentagon-fill"></i>
                                <span>จัดการผู้ใช้งาน</span>
                            </a>
                            <ul class="submenu" style="display: none;">
                                <li class="submenu-item ">
                                 
                                    <a href="/admin" target="_blank">Admin-site</a>
                                </li>
                                <li class="submenu-item ">
                                 
                                    <a href="/signout">ออกจากระบบ</a>
                                </li>
                            
                            </ul>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        {% block content %}


        {% endblock content%}
     
    </div>

   
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
   
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <script src="{% static 'js/summation.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>

</html>